    .modal-top {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 1rem;
        border-bottom: 1px solid #dee2e6;
        border-top-left-radius: calc(0.3rem - 1px);
        border-top-right-radius: calc(0.3rem - 1px);
        h4 {
            margin: 10px 0;
            font-weight: 700;
            font-size: 1.125rem;
            color: #6c757d;
        }
    }
    .modal-middle {
        overflow-y: auto;
        position: relative;
        flex: 1 1 auto;
        padding: 1rem;
        .modal-middle-content {
            text-align: center !important;
            h1 {
                font-size: 22px;
                color: #404040;
                text-align: center;
            }
            p {
                font-size: 15px;
                color: #606060;
                text-align: center;
                margin-top: 20px;
            }
        }
    }
    .modal-bottom {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-end;
        padding: 0.75rem;
        border-top: 1px solid #dee2e6;
        border-bottom-right-radius: calc(0.3rem - 1px);
        border-bottom-left-radius: calc(0.3rem - 1px);
        .close-button {
            color: #fff;
            background-color: #0acf97;
            border-color: #0acf97;
            display: inline-block;
            font-weight: 400;
            text-align: center;
            vertical-align: middle;
            user-select: none;
            border: 1px solid transparent;
            padding: 0.45rem 0.9rem;
            font-size: 0.9rem;
            line-height: 1.5;
            border-radius: 0.15rem;
            transition: color 0.15s;
            &:hover {
                color: #fff;
                background-color: #08ab7c;
                border-color: #089e74;
            }
        }
    }
.container {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
    .address {
        width: 420px;
        height: 800px;
        border: 1px solid #ccc;
        margin: 0 auto;
        .header {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            padding-top: 1rem;
            .header-btn {
                cursor: pointer;
                .img {
                    padding: 0.45rem 0.9rem;
                }
            }
            .desc {
                margin: 10px 0;
                font-weight: 700;
                font-size: 1.125rem;
                color: #6c757d;
            }
            hr {
                width: 400px;
                height: 5px;
                border: 0px;
                background: rgb(2, 32, 74);
            }
        }
        .top {
            width: 420px;
            margin: 20px auto;
            position: relative;
            .zone-code {
                width: 120px;
                height: 40px;
                border: 1px solid #02204a;
                margin: 20px 0 0 20px;
                line-height: 35px;
                padding: 0 0 0 10px;
                margin-top: 0px;
            }
            .road-address {
                width: 380px;
                height: 40px;
                border: 1px solid #02204a;
                line-height: 40px;
                padding: 0 0 0 10px;
                margin: 10px 0 10px 20px;
            }
            input {
                width: 380px;
                height: 40px;
                border: 1px solid #02204a;
                line-height: 40px;
                padding: 0 0 0 10px;
                margin: 0 0 20px 20px;
            }
            a {
                width: 380px;
                height: 40px;
                background-color: #02204a;
                color: #fff;
                margin: 0 auto;
                display: block;
                text-align: center;
                line-height: 40px;
                border-radius: 10px;
                cursor: pointer;
            }
        }
        .bottom {
            width: 380px;
            height: 430px;
            background-color: #e5e8ef;
            position: relative;
            margin: 30px auto 0;
            padding: 20px 10px 10px 10px;
            strong {
                color: red;
                font-size: 16px;
                font-weight: 700;
            }
            hr {
                width: 380px;
                height: 1px;
                border: 0px;
                background: rgb(2, 32, 74);
            }
        }
    }
}
